---
# Basic
Language:                                       Cpp
BasedOnStyle:                                   LLVM
IndentWidth:                                    4
TabWidth:                                       4
UseTab:                                         Never
AccessModifierOffset:                           -4
ColumnLimit:                                    120
AlignEscapedNewlines:                           Right
AlignConsecutiveAssignments:                    true
AlignConsecutiveDeclarations:                   true
AlignAfterOpenBracket:                          DontAlign
AlignTrailingComments:                          true
BreakBeforeBraces:                              Allman
AllowShortCaseLabelsOnASingleLine:              true
AllowShortFunctionsOnASingleLine:               InlineOnly
BreakConstructorInitializersBeforeComma:        true
PointerAlignment:                               Left
DerivePointerAlignment:                         true
KeepEmptyLinesAtTheStartOfBlocks:               false
SpacesInAngles:                                 false
ForEachMacros:
  - for
IncludeBlocks:                                  Regroup
IncludeCategories: 
  - Regex:                                      '.*\.generated\.h'
    Priority:                                   100
  - Regex:                                      '.*(PCH).*'
    Priority:                                   -1
  - Regex:                                      '".*"'
    Priority:                                   1
  - Regex:                                      '^<.*\.(h)>'
    Priority:                                   3
  - Regex:                                      '^<.*>'
    Priority:                                   4
IncludeIsMainRegex:                             '([-_](test|unittest))?$'
---

